{% extends "base.html" %}

{% block content %}

{% include "incidents/summary.html" %}
{% include "direct-links.html" %}

{% if authenticated? %}
<div class="row">
  <form method="post" action="{{ servlet-context }}/share/uri/?uri={{ servlet-context }}/incidents/">
    {% csrf-field %}
    <button type="submit" class="btn btn-outline-primary btn-block">
      Create direct link
    </button>
  </form>
</div>
{% endif %}

{% endblock %}
