<div class="row">
  <h2>Incidents</h2>

  <table class="table">
    <tr>
      <th>ID</th>
      <th>URL</th>
      <th>Is closed</th>
      <th>Created at</th>
      <th>Updated at</th>
    </tr>

    {% for incident in incidents-summary %}
    <tr class="{% if not incident.is-closed %}alert alert-danger{% endif %}">
      <td>{{ incident.id }}</td>
      <td>
        {% if current-shared-uri %}
        <a href="{{ servlet-context }}/incidents/?user-id={{ current-shared-uri.owner-id }}&access-token={{ current-shared-uri.access-token }}&filter-url={{ incident.url }}">
          {{ incident.url }}
        </a>
        {% else %}
        <a href="{{ servlet-context }}/incidents/?filter-url={{ incident.url }}">
          {{ incident.url }}
        </a>
        {% endif %}
      </td>
      <td>{{ incident.is-closed|boolean-to-glyph }}</td>
      <td>{{ incident.created-at|datetime }}</td>
      <td>{{ incident.updated-at|datetime }}</td>
    </tr>
    {% endfor %}

  </table>
</div>
