<div class="form-group row {% if errors.url %}has-danger{% endif %}">

  <label class="form-control-label col-form-label col-sm-2" for="url">
    URL
  </label>

  <div class="col-sm-10">
    <input
       id="url"
       class="form-control {% if errors.url %} form-control-danger {% endif %}"
       type="text"
       name="url"
       value="{{ url }}"
       placeholder="URL"
       />
  </div>

  {% if errors.url %}
  <div class="col-sm-10 form-control-feedback">
    {{ errors.url|join }}
  </div>
  {% endif %}
</div>

