<div class="form-group row {% if errors.type %}has-danger{% endif %}">

  <label class="form-control-label col-form-label col-sm-2" for="alerter-type">
    Alerter type
  </label>

  <div class="col-sm-10">
    <select id="alerter-type" class="form-control {% if errors.type %} form-control-danger {% endif %}" name="type">
      {% for alerter-type-id, alerter-type-name in alerter-types %}
      <option
         {% ifequal type alerter-type-id %}
         selected="selected"
         {% endifequal %}
         >
        {{ alerter-type-name }}
      </option>
      {% endfor %}
    </select>
  </div>

  {% if errors.type %}
  <div class="col-sm-10 form-control-feedback">
    {{ errors.type|join }}
  </div>
  {% endif %}

</div>

