<div class="form-group row {% if errors.title %}has-danger{% endif %}">

  <label class="form-control-label col-form-label col-sm-2" for="title">
    Title
  </label>

  <div class="col-sm-10">
    <input
       id="title"
       class="form-control {% if errors.title %} form-control-danger {% endif %}"
       type="text"
       name="title"
       value="{{ title }}"
       placeholder="Title"
       />
  </div>

  {% if errors.title %}
  <div class="col-sm-10 form-control-feedback">
    {{ errors.title|join }}
  </div>
  {% endif %}
</div>

