<div class="form-group row {% if errors.check-interval %}has-danger{% endif %}">

  <label class="form-control-label col-form-label col-sm-2" for="check-interval">
    Check interval
  </label>

  <div class="col-sm-10">
    <input
       id="check-interval"
       class="form-control {% if errors.check-interval %} form-control-danger {% endif %}"
       type="number"
       name="check-interval"
       value="{{ check-interval|interval-to-seconds }}"
       placeholder="check interval in seconds"
    />
  </div>

  {% if errors.check-interval %}
  <div class="col-sm-10 form-control-feedback">
    {{ errors.check-interval|join }}
  </div>
  {% endif %}
</div>

