<div class="form-group row {% if errors.http-method %}has-danger{% endif %}">

  <label class="form-control-label col-form-label col-sm-2" for="http-method">
    HTTP method
  </label>

  <div class="col-sm-10">
    <select id="http-method" class="form-control {% if errors.http-method %} form-control-danger {% endif %}" name="http-method">
      <option {% ifequal http-method "GET" %}
              selected="selected"
              {% endifequal %}>
        GET
      </option>
      <option {% ifequal http-method "POST" %}
              selected="selected"
              {% endifequal %}>
        POST
      </option>
      <option {% ifequal http-method "PUT" %}
              selected="selected"
              {% endifequal %}>
        PUT
      </option>
      <option {% ifequal http-method "DELETE" %}
              selected="selected"
              {% endifequal %}>
        DELETE
      </option>
    </select>
  </div>

  {% if errors.http-method %}
  <div class="col-sm-10 form-control-feedback">
    {{ errors.http-method|join }}
  </div>
  {% endif %}
</div>

