<div class="form-group row {% if errors.escalation-point-seconds %}has-danger{% endif %}">

  <label class="form-control-label col-form-label col-sm-2" for="escalaltion-point-seconds">
    Point of escalation in seconds
  </label>

  <div class="col-sm-10">
    <input
       id="escalation-point-seconds"
       class="form-control {% if errors.escalation-point-seconds %}form-control-danger{% endif %}"
       type="number"
       name="escalation-point-seconds"
       value="{{ escalation-point-seconds }}"
       placeholder="Point of escalation in seconds"
    />
  </div>

  {% if errors.escalation-point-seconds %}
  <div class="col-sm-10 form-control-feedback">
    {{ errors.escalation-point-seconds|join }}
  </div>
  {% endif %}
</div>
