<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Status Check</title>

    {% block head %}
    {% endblock %}

    <!-- styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}

    {% style "/css/screen.css" %}
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-light bg-faded" role="navigation">
      <button class="navbar-toggler hidden-sm-up"
              type="button"
              data-toggle="collapse"
              data-target="#collapsing-navbar">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-xs" id="collapsing-navbar">
        <a class="navbar-brand" href="{{servlet-context}}/">Status Check</a>

        <ul class="nav navbar-nav">
          {% if not authenticated? %}
          <li class="nav-item">
            <a href="{{servlet-context}}/auth/signup/"
               class='nav-link {% ifequal page "signup.html" %}active{% endifequal %}'
            >
              Signup
            </a>
          </li>

          <li class="nav-item">
            <a href="{{servlet-context}}/auth/login/"
               class='nav-link {% ifequal page "login.html" %}active{% endifequal %}'
            >
              Login
            </a>
          </li>

          {% else %}
          <li class="nav-item">
            <a href="{{servlet-context}}/summary/"
               class='nav-link {% ifequal page "summary.html" %}active{% endifequal %}'
            >
              Summary
            </a>
          </li>

          <li class="nav-item">
            <a href="{{servlet-context}}/incidents/"
               class='nav-link {% ifequal page "incidents/index.html" %}active{% endifequal %}'
            >
              Incidents
            </a>
          </li>

          <li class="nav-item">
            <a href="{{servlet-context}}/checks/"
               class='nav-link {% ifequal page "checks/index.html" %}active{% endifequal %}'
            >
              Checks
            </a>
          </li>

          <li class="nav-item">
            <a href="{{servlet-context}}/alerters/"
               class='nav-link {% ifequal page "alerters/index.html" %}active{% endifequal %}'
            >
              Alerters
            </a>
          </li>

          {% endif %}

          <li class="nav-item">
            <a href="{{servlet-context}}/about/"
               class='nav-link {% ifequal page "about.html" %}active{% endifequal %}'
            >
              About
            </a>
          </li>

          {% if authenticated? %}
          <form
             class="nav-item form-inline pull-xs-right"
             method="post"
             action="{{servlet-context}}/auth/logout/"
          >
            {% csrf-field %}
            <button type="submit" class="btn btn-outline-primary">
              Logout
            </button>
          </form>

          <li class="nav-item pull-xs-right">
            <a href="{{servlet-context}}/auth/profile/"
               class='nav-link {% ifequal page "profile.html" %}active{% endifequal %}'
            >
              Profile
            </a>
          </li>
          {% endif %}
      </div>
    </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- scripts -->
    {% script "/assets/jquery/jquery.min.js" %}
    {% script "/assets/tether/dist/js/tether.min.js" %}
    {% script "/assets/bootstrap/js/bootstrap.min.js" %}

    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
