{% if authenticated? %}
<div class="row">
  <p>
    <h2>Direct links</h2>

    <table class="table">
      <tr>
        <th>URL</th>
        <th></th>
      </tr>

      {% for shared-uri in shared-uris %}
      <tr>
        <td>
          <a href="{{ shared-uri.href }}">
            {{ shared-uri.href }}
          </a>
        </td>
        <td>
          <form method="post"
                action="{{ servlet-context }}/share/uri/{{ shared-uri.id }}/delete/">
            {% csrf-field %}
            <button type="submit" class="btn btn-outline-danger">
              Delete
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </p>
</div>
{% endif %}
