{% extends "base.html" %}

{% block content %}
{% if authenticated? %}

{% else %}
<a class="btn btn-outline-primary btn-block" href="{{ servlet-context }}/auth/login/">
  Login
</a>
<a class="btn btn-outline-primary btn-block" href="{{ servlet-context }}/auth/signup/">
  Signup
</a>
{% endif %}

{% endblock %}
