<div class="form-group row {% if errors.email %}has-danger{% endif %}">

  <label class="form-control-label col-form-label col-sm-2" for="email">
    Email
  </label>

  <div class="col-sm-10">
    <input
       id="email"
       class="form-control {% if errors.email %} form-control-danger {% endif %}"
       type="text"
       name="email"
       value="{{ email }}"
       placeholder="Email"
    />
  </div>

  {% if errors.email %}
  <div class="col-sm-10 form-control-feedback">
    {{ errors.email|join }}
  </div>
  {% endif %}

</div>


