<div class="form-group row {% if errors.password %}has-danger{% endif %}">

  <label class="form-control-label col-form-label col-sm-2" for="password">
    Password
  </label>

  <div class="col-sm-10">
    <input
       id="password"
       class="form-control {% if errors.password %} form-control-danger {% endif %}"
       type="password"
       name="password"
       value="{{ password }}"
       placeholder="Password"
    />
  </div>

  {% if errors.password %}
  <div class="col-sm-10 form-control-feedback">
    {{ errors.password|join }}
  </div>
  {% endif %}

</div>

