{% extends "base.html" %}

{% block content %}
<h1>Login to your account!</h1>

<form method="post">
  {% csrf-field %}
  {% include "input-email.html" %}
  {% include "input-password.html" %}
  {% include "components/button-submit.html" with body="Login" %}
</form>

{% endblock %}

