{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-2">
    ID
  </div>
  <div class="col-sm-10">
    {{ user.id }}
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    Email
  </div>
  <div class="col-sm-10">
    {{ user.email }}
  </div>
</div>

{% include "direct-links.html" %}
{% endblock %}
