{% extends "base.html" %}

{% block content %}
<h1>Sign up and start!</h1>

<form method="post" action="">
  {% csrf-field %}
  <input type="hidden" name="access-token" value="{{ signup-access-token }}" />

  {% include "input-email.html" %}
  {% include "input-password.html" %}
  {% include "components/button-submit.html" with body="Signup!" %}
</form>

{% endblock %}

