{% extends "base.html" %}

{% block content %}

<div class="row">
  <h1>Edit alerter</h1>

  <form method="post">
    {% csrf-field %}
    {% include "components/input-title.html" %}
    {% include "components/input-alerter-type.html" %}
    {% include "components/input-http-method.html" %}
    {% include "components/input-url.html" %}
    {% include "components/input-escalation-point-seconds.html" %}
    {% include "components/input-active?.html" %}
    {% include "components/button-submit.html" with body="Save" %}
  </form>

</div>

<div class="row">
  {% comment %}
  TODO The same form is used by the checks/edit.html
  {% endcomment %}

  <h2>Parameters</h2>
  {% if slack-alerter? %}
  <em>Hint: override default webhook channel by using the "channel" parameter.</em>
  {% endif %}

  {% if all url-parameters|not-empty url-id %}
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th></th>
    </tr>

    {% for url-parameter in url-parameters %}
    <tr>
      <td>{{ url-parameter.name }}</td>
      <td>{{ url-parameter.value }}</td>
      <td>
        <a href="{{ servlet-context }}/urls/{{ url-id }}/parameters/{{ url-parameter.id }}/">
          edit
        </a>
      </td>
    </tr>
    {% endfor %}

  </table>
  {% endif %}

  {% if url-id %}
  <a class="btn btn-outline-primary btn-block"
     href="{{ servlet-context }}/urls/{{ url-id }}/parameters/new/"
  >
    Add parameter
  </a>

  {% endif %}
</div>

{% endblock %}

