{% extends "base.html" %}

{% block content %}
{% include "alerters/summary.html" %}

<div class="row">
  <a class="btn btn-outline-primary btn-block"
     href="{{ servlet-context }}/alerters/new/">
    Define new alerter
  </a>
</div>
{% endblock %}
