{% extends "base.html" %}

{% block content %}
<h1>Define new alerter</h1>

<form method="post">
  {% csrf-field %}
  {% include "components/input-title.html" %}
  {% include "components/button-submit.html" with body="Continue..." %}
</form>

{% endblock %}

