<div class="row">
  <h2>Alerters</h2>

  <table class="table">
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Escalation point</th>
      <th>Active?</th>
      <th>Status</th>
      <th>1%'ile</th>
      <th>50%'ile</th>
      <th>99%'ile</th>
      <th></th>
      <th></th>
    </tr>

    {% for alerter in alerters-summary %}
    <tr class="{% if not alerter.is-status-ok %}alert alert-danger{% endif %}">
      <td>{{ alerter.title }}</td>
      <td>{{ alerter.type-name }}</td>
      <td>{{ alerter.escalation-point-seconds }}</td>
      <td>{{ alerter.is-active|boolean-to-glyph }}</td>
      <td>{{ alerter.last-status }}</td>
      <td>{{ alerter.request-time-percentile-01|round }}ms</td>
      <td>{{ alerter.request-time-percentile-05|round }}ms</td>
      <td>{{ alerter.request-time-percentile-099|round }}ms</td>
      <td>
        <a href="{{ servlet-context }}/alerters/{{ alerter.id }}/">
          Edit
        </a>
      </td>
      <td>
        <a href="{{ servlet-context }}/urls/{{ alerter.url-id }}/responses/">
          Responses
        </a>
      </td>
    </tr>
    {% endfor %}

  </table>
</div>
