{% extends "base.html" %}

{% block content %}

{% include "checks/summary.html" %}

{% if authenticated? %}
<div class="row">
  <p>
    <a class="btn btn-outline-primary btn-block"
       href="{{ servlet-context }}/checks/new/">
      Define new check
    </a>
  </p>
</div>
{% endif %}

{% include "direct-links.html" %}

{% if authenticated? %}
<div class="row">
  <form method="post" action="{{ servlet-context }}/share/uri/?uri={{ servlet-context }}/checks/">
    {% csrf-field %}
    <button type="submit" class="btn btn-outline-primary btn-block">
      Create direct link
    </button>
  </form>
</div>
{% endif %}

{% endblock %}
