<div class="row">
  <h2>checks</h2>
  <table class="table">
    <tr>
      <th>Title</th>
      <th>Interval</th>
      <th>Active?</th>
      <th>Status</th>
      <th>1%'ile</th>
      <th>50%'ile</th>
      <th>99%'ile</th>
      <th></th>
      <th></th>
    </tr>

    {% for check in checks-summary %}
    <tr class="{% if not check.is-status-ok %}alert alert-danger{% endif %}">
      <td>{{ check.title }}</td>
      <td>{{ check.check-interval|interval-to-seconds }}</td>
      <td>{{ check.is-active|boolean-to-glyph }}</td>
      <td>{{ check.last-status }}</td>
      <td>{{ check.request-time-percentile-01|round }}ms</td>
      <td>{{ check.request-time-percentile-05|round }}ms</td>
      <td>{{ check.request-time-percentile-099|round }}ms</td>
      <td>
        {% if authenticated? %}
        <a href="{{ servlet-context }}/checks/{{ check.id }}/">
          Edit
        </a>
        {% endif %}
      </td>
      <td>
        {% if authenticated? %}
        <a href="{{ servlet-context }}/urls/{{ check.url-id }}/responses/">
          Responses
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
