<h2>Response #{{ response.id }}</h2>
<table class="table">
  <tr>
    <th>Created at</th>
    <td>{{ response.created-at|datetime }}</td>
  </tr>
  <tr>
    <th>Status</th>
    <td>{{ response.status }}</td>
  </tr>
  <tr>
    <th>Request time</th>
    <td>{{ response.request-time }} ms</td>
  </tr>
</table>

<h3>Response headers</h3>
<table class="table">
  <tr>
    <th>Header</th>
    <th>Value</th>
  </tr>
  {% for header in response.headers %}
  <tr>
    <td>{{ header|map-key|clj-name }}</td>
    <td>{{ header|map-val }}</td>
  </tr>
  {% endfor %}
</table>

<h3>Response body</h3>
<div><pre>{{ response.pretty-printed-body }}</pre></div>
