{% extends "base.html" %}

{% block content %}
<h1>Edit url parameter</h1>

<form method="post">
  {% csrf-field %}
  {% include "urls/input-name.html" %}
  {% include "urls/input-value.html" %}
  {% include "components/button-submit.html" with body="Save" %}
</form>

{% endblock %}

