<div class="form-group row {% if errors.name %}has-danger{% endif %}">

  <label class="form-control-label col-form-label col-sm-2" for="input-name">
    Name
  </label>

  <div class="col-sm-10">
    <input
       id="input-name"
       class="form-control {% if errors.name %} form-control-danger {% endif %}"
       type="text"
       name="name"
       value="{{ name }}"
       placeholder="Name"
    />
  </div>

  {% if errors.name %}
  <div class="col-sm-10 form-control-feedback">
    {{ errors.name|join }}
  </div>
  {% endif %}
</div>

