<div class="form-group row {% if errors.value %}has-danger{% endif %}">

  <label class="form-control-label col-form-label col-sm-2" for="input-value">
    Value
  </label>

  <div class="col-sm-10">
  <input
     id="input-value"
     class="form-control {% if errors.value %} form-control-danger {% endif %}"
     type="text"
     name="value"
     value="{{ value }}"
     placeholder="Value"
  />
  </div>

  {% if errors.value %}
  <div class="col-sm-10 form-control-feedback">
    {{ errors.value|join }}
  </div>
  {% endif %}
</div>

